html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mukta/v13/iJWKBXyXfDDVXYnG.ttf) format('truetype');
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
}
.container {
  width: 1700px;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  .container {
    width: 1350px;
  }
}
@media (max-width: 1399px) {
  .container {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 575px) {
  .container {
    width: 90%;
  }
}
.logo__box {
  background-color: #54b192;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .logo__box {
    width: 47px;
    height: 47px;
  }
}
@media (max-width: 575px) {
  .logo__box {
    width: 35px;
    height: 35px;
  }
}
.logo__box:hover {
  background-color: #469f60;
}
.logo__svg {
  cursor: pointer;
  width: 34px;
  height: 23px;
}
@media (max-width: 767px) {
  .logo__svg {
    width: 28px;
    height: 17px;
  }
}
@media (max-width: 575px) {
  .logo__svg {
    width: 22px;
    height: 16px;
  }
}
.main_btn {
  background-color: #3f3d56;
  border-radius: 15px;
  height: 42px;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1;
  line-height: calc(20px / 16px);
  border: none;
  padding: 0 13px;
  font-family: 'Mukta', sans-serif;
}
.main_btn:hover {
  background-color: #396bc7;
  filter: drop-shadow(5px 0px 1px rgba(145, 146, 151, 0.404));
  padding: 0 14px;
}
.bigest_title {
  color: #363636;
  font-size: calc(2.25rem + 0.3vw);
  font-weight: 700;
  letter-spacing: 1;
  line-height: calc(calc(2.5rem + 0.3vw) / calc(2.25rem + 0.3vw));
  font-family: 'Mukta', sans-serif;
}
@media (max-width: 1199px) {
  .bigest_title {
    color: #363636;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 1;
    line-height: calc(2.5rem / 2.25rem);
  }
}
@media (max-width: 575px) {
  .bigest_title {
    color: #363636;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1;
    line-height: calc(1.7rem / 1.6rem);
  }
}
.big_title {
  color: #363636;
  font-size: calc(1.75rem + 0.3vw);
  font-weight: 400;
  letter-spacing: 1;
  line-height: calc(calc(2.125rem + 0.3vw) / calc(1.75rem + 0.3vw));
  font-family: 'Mukta', sans-serif;
}
@media (max-width: 575px) {
  .big_title {
    color: #363636;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1;
    line-height: calc(1.75rem / 1.5rem);
  }
}
.small_title {
  color: #363636;
  font-size: calc(1.37rem + 0.3vw);
  font-weight: 400;
  letter-spacing: 1;
  line-height: calc(calc(1.5rem + 0.3vw) / calc(1.37rem + 0.3vw));
  font-family: 'Mukta', sans-serif;
}
@media (max-width: 767px) {
  .small_title {
    color: #363636;
    font-size: 1.15rem;
    font-weight: 400;
    letter-spacing: 1;
    line-height: calc(1.5rem / 1.15rem);
  }
}
.links-box {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
.links-box__item {
  display: block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 1px;
  margin-right: 22px;
  z-index: 1;
}
.links-box__item:hover {
  cursor: pointer;
  padding: 0;
}
.links-box__img {
  width: 26px;
  height: 26px;
  z-index: 3;
}
.links-box__img:hover,
.links-box__img:focus {
  cursor: pointer;
  width: 30px;
  height: 30px;
  filter: invert(27%) sepia(18%) saturate(2688%) hue-rotate(306deg) brightness(122%) contrast(99%) drop-shadow(5px 0px 1px rgba(145, 146, 151, 0.404));
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #3f3d56;
}
@media (max-width: 767px) {
  .nav {
    width: 100%;
    height: 80px;
  }
}
.nav__input {
  display: none;
}
@media (max-width: 575px) {
  .nav__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    clip-path: circle(15.5px at calc(100% - 35px) 35px);
    transition: all 0.3s ease-in-out;
    z-index: 20;
  }
}
.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  height: 40px;
  z-index: 2;
}
@media (max-width: 991px) {
  .nav__links {
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
}
@media (max-width: 575px) {
  .nav__links {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
}
.nav__item {
  margin: 0 40px 0 0;
  font-size: 22px;
  color: #363636;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 1;
  line-height: calc(40px / 1.125rem);
  line-height: 40px;
  z-index: 2;
}
@media (max-width: 991px) {
  .nav__item {
    margin: 0 20px 0 0;
  }
}
.nav__item:hover {
  cursor: pointer;
  background-color: #3f3d56;
  border-radius: 15px;
  height: 40px;
  line-height: 40px;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1;
  line-height: calc(20px / 16px);
  box-sizing: border-box;
  border: none;
  padding: 0 13px;
}
@media (max-width: 575px) {
  .nav__label {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background: #3f3d56;
    transition: all 0.3s ease-in-out;
    z-index: 22;
    position: fixed;
  }
}
@media (max-width: 575px) {
  .nav__label::after,
  .nav__label::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    top: 11px;
    width: 0px;
    height: 15px;
    border-left: 2px solid #fbfbfb;
  }
}
@media (max-width: 575px) {
  .nav__label::after {
    right: 22px;
    transform: rotate(135deg);
  }
}
@media (max-width: 575px) {
  .nav__label::before {
    right: 12px;
    transform: rotate(45deg);
  }
}
#active:checked ~ .nav__wrapper {
  clip-path: circle(75%);
}
#active:checked ~ .nav__label {
  background-color: #ffffff;
}
#active:checked ~ .nav__label::before {
  transform: rotate(135deg);
  border-left: 2px solid #3f3d56;
}
#active:checked ~ .nav__label::after {
  transform: rotate(45deg);
  border-left: 2px solid #3f3d56;
}
.header {
  width: 100%;
  height: calc(500px + 30vw);
}
@media (max-width: 1800px) {
  .header {
    width: 100%;
    height: calc(600px + 20vw);
  }
}
@media (max-width: 1399px) {
  .header {
    width: 100%;
    height: calc(550px + 15vw);
  }
}
@media (max-width: 1199px) {
  .header {
    width: 100%;
    height: calc(500px + 15vw);
  }
}
@media (max-width: 991px) {
  .header {
    width: 100%;
    height: calc(450px + 15vw);
  }
}
@media (max-width: 575px) {
  .header {
    width: 100%;
    height: calc(450px + 15vw);
    margin-bottom: 20px;
  }
}
.header__content-box {
  width: 400px;
  height: auto;
  margin: 300px 0 40px 0;
}
@media (max-width: 1800px) {
  .header__content-box {
    margin: 200px 0 40px 0;
  }
}
@media (max-width: 1199px) {
  .header__content-box {
    width: 350px;
    height: auto;
    margin: 100px 0 40px 0;
  }
}
@media (max-width: 991px) {
  .header__content-box {
    width: 300px;
    height: auto;
    margin: 60px 0 40px 0;
  }
}
@media (max-width: 767px) {
  .header__content-box {
    width: 230px;
    height: auto;
    margin: 30px 0 40px 0;
  }
}
@media (max-width: 575px) {
  .header__content-box {
    width: 90%;
    height: auto;
  }
}
.header__title {
  margin: 0 0 60px 0;
  z-index: 6;
  transform: translate(-280px, 0%);
  opacity: 0;
  transition: all 0.6s ease 0.7s;
}
@media (max-width: 1800px) {
  .header__title {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 767px) {
  .header__title {
    margin: 0 0 30px 0;
  }
}
.header__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__txt {
  margin: 0 0 60px 0;
  z-index: 6;
  transform: translate(-280px, 0%);
  opacity: 0;
  transition: all 0.6s ease 0.9s;
  color: #363636;
  font-size: calc(1.125rem + 0.3vw);
  font-weight: 400;
  letter-spacing: 1;
  line-height: calc(calc(1.5rem + 0.3vw) / calc(1.125rem + 0.3vw));
}
@media (max-width: 1800px) {
  .header__txt {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 767px) {
  .header__txt {
    margin: 0 0 30px 0;
  }
}
.header__txt._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__btn {
  margin: 0 0 90px 0;
  transform: translate(-100px, 0%);
  transition: all 0.6s ease 1.4s;
  opacity: 0;
}
@media (max-width: 1800px) {
  .header__btn {
    margin: 0 0 70px 0;
  }
}
@media (max-width: 991px) {
  .header__btn {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767px) {
  .header__btn {
    margin: 0 0 30px 0;
  }
}
.header__btn._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__links {
  transform: translate(-300px, 0%);
  transition: all 0.6s ease 1.6s;
  opacity: 0;
}
@media (max-width: 767px) {
  .header__links {
    transform: translate(-100px, 0%);
  }
}
.header__links._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header::after {
  width: 70%;
  height: calc(500px + 30vw);
  content: "";
  background-image: url("img/header.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 200px;
  background-position-y: -400px;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: scale(0, 0);
  transform-origin: top right;
  transition: all 0.6s ease 0s;
}
@media (max-width: 1800px) {
  .header::after {
    width: 70%;
    height: calc(600px + 20vw);
    background-position-x: 150px;
    background-position-y: -300px;
  }
}
@media (max-width: 1399px) {
  .header::after {
    width: 70%;
    height: calc(600px + 15vw);
    background-position-x: 100px;
    background-position-y: -200px;
  }
}
@media (max-width: 1199px) {
  .header::after {
    width: 60%;
    height: calc(600px + 15vw);
    background-position-x: 100px;
    background-position-y: -200px;
  }
}
@media (max-width: 991px) {
  .header::after {
    width: 60%;
    height: calc(450px + 20vw);
    background-position-x: 80px;
    background-position-y: -110px;
  }
}
@media (max-width: 767px) {
  .header::after {
    width: 70%;
    height: calc(500px + 15vw);
    background-position-x: 60px;
    background-position-y: -70px;
  }
}
@media (max-width: 575px) {
  .header::after {
    top: 260px;
    width: calc(240px + 5vw);
    height: calc(240px + 5vw);
    background-position-x: 40px;
    background-position-y: 0px;
  }
}
.header._active::after {
  transform: scale(1, 1);
}
@media (max-width: 575px) {
  .presentation {
    margin: 0 0 40px 0;
  }
}
.presentation__title {
  text-align: center;
  margin: 0 0 60px 0;
  transform: translate(-280px, 0%);
  opacity: 0.2;
  transition: all 0.8s ease 0s;
}
@media (max-width: 991px) {
  .presentation__title {
    margin: 0 0 30px 0;
  }
}
.presentation__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.presentation__wrap {
  margin: 0 0 100px 0;
}
@media (max-width: 991px) {
  .presentation__wrap {
    margin: 0 0 80px 0;
  }
}
@media (max-width: 767px) {
  .presentation__wrap {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 575px) {
  .presentation__wrap {
    margin: 0 0 0 0;
  }
}
.presentation__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 60px 0;
  align-items: center;
  height: auto;
}
@media (max-width: 767px) {
  .presentation__box {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 575px) {
  .presentation__box {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 0 0 0 0;
  }
}
.presentation__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  min-height: 340px;
}
@media (max-width: 1399px) {
  .presentation__content {
    width: 500px;
    min-height: 340px;
  }
}
@media (max-width: 1199px) {
  .presentation__content {
    width: 400px;
    min-height: 240px;
  }
}
@media (max-width: 991px) {
  .presentation__content {
    width: 300px;
    min-height: 240px;
  }
}
@media (max-width: 767px) {
  .presentation__content {
    width: 280px;
    min-height: 240px;
  }
}
@media (max-width: 575px) {
  .presentation__content {
    width: 220px;
    min-height: 100px;
  }
}
@media (max-width: 575px) {
  .presentation__content1 {
    margin-top: -100px;
    margin-left: auto;
  }
}
@media (max-width: 575px) {
  .presentation__content2 {
    margin-top: -60px;
    margin-right: auto;
  }
}
@media (max-width: 575px) {
  .presentation__content3 {
    margin-top: 20px;
    margin-left: auto;
  }
}
.presentation__img_box1,
.presentation__img_box2 {
  --presentation__img-w: 450px;
  --presentation__img-h: 340px;
  width: var(--presentation__img-w);
  height: var(--presentation__img-h);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  transform: scale(0, 0);
}
@media (max-width: 1399px) {
  .presentation__img_box1,
  .presentation__img_box2 {
    --presentation__img-w: 400px;
    --presentation__img-h: 310px;
  }
}
@media (max-width: 1199px) {
  .presentation__img_box1,
  .presentation__img_box2 {
    --presentation__img-w: 300px;
    --presentation__img-h: 210px;
  }
}
@media (max-width: 991px) {
  .presentation__img_box1,
  .presentation__img_box2 {
    --presentation__img-w: 280px;
    --presentation__img-h: 180px;
  }
}
@media (max-width: 767px) {
  .presentation__img_box1,
  .presentation__img_box2 {
    --presentation__img-w: 210px;
    --presentation__img-h: 130px;
  }
}
@media (max-width: 575px) {
  .presentation__img_box1,
  .presentation__img_box2 {
    --presentation__img-w: calc(100% - 180px);
    --presentation__img-h: 200px;
  }
}
.presentation__img_box1 {
  background-image: url("img/Group-8.png");
  transition: all 0.6s ease 0s;
}
@media (max-width: 575px) {
  .presentation__img_box1 {
    margin-right: auto;
  }
}
.presentation__img_box2 {
  background-image: url("img/Group-6.png");
  transition: all 0.6s ease 1.9s;
}
@media (max-width: 575px) {
  .presentation__img_box2 {
    margin-left: auto;
  }
}
.presentation__img_box3 {
  --presentation__img3-w: 450px;
  --presentation__img3-h: 240px;
  width: var(--presentation__img3-w);
  height: var(--presentation__img3-h);
  background-image: url("img/Group-140.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  transform: scale(0, 0);
  transition: all 0.6s ease 2.8s;
}
@media (max-width: 1399px) {
  .presentation__img_box3 {
    --presentation__img3-w: 400px;
    --presentation__img3-h: 220px;
  }
}
@media (max-width: 1199px) {
  .presentation__img_box3 {
    --presentation__img3-w: 300px;
    --presentation__img3-h: 160px;
  }
}
@media (max-width: 991px) {
  .presentation__img_box3 {
    --presentation__img3-w: 280px;
    --presentation__img3-h: 150px;
  }
}
@media (max-width: 767px) {
  .presentation__img_box3 {
    --presentation__img3-w: 210px;
    --presentation__img3-h: 100px;
  }
}
@media (max-width: 575px) {
  .presentation__img_box3 {
    --presentation__img-w: calc(100% - 180px);
    --presentation__img-h: 200px;
    margin-right: auto;
  }
}
.presentation__img_box1._active {
  transform: scale(1, 1);
}
.presentation__img_box2._active {
  transform: scale(1, 1);
}
.presentation__img_box3._active {
  transform: scale(1, 1);
}
.presentation__content_title1,
.presentation__content_title2,
.presentation__content_title3 {
  text-align: center;
  margin: 0 0 20px 0;
  z-index: 5;
  opacity: 0;
  transform: translate(-300px, 0%);
}
@media (max-width: 767px) {
  .presentation__content_title1,
  .presentation__content_title2,
  .presentation__content_title3 {
    margin: 0 0 12px 0;
    transform: translate(-100px, 0%);
  }
}
.presentation__content_title1 {
  transition: all 0.8s ease 1.2s;
}
.presentation__content_title2 {
  transition: all 0.8s ease 2.2s;
}
.presentation__content_title3 {
  transition: all 0.8s ease 3.6s;
}
.presentation__content_title1._active {
  transform: translate(0, 0);
  opacity: 1;
}
.presentation__content_title2._active {
  transform: translate(0, 0);
  opacity: 1;
}
.presentation__content_title3._active {
  transform: translate(0, 0);
  opacity: 1;
}
.presentation__txt1 {
  transition: all 0.8s ease 1.4s;
}
.presentation__txt2 {
  transition: all 0.8s ease 2.4s;
}
.presentation__txt3 {
  transition: all 0.8s ease 3.8s;
}
.presentation__txt1._active {
  transform: translate(0, 0);
  opacity: 1;
}
.presentation__txt2._active {
  transform: translate(0, 0);
  opacity: 1;
}
.presentation__txt3._active {
  transform: translate(0, 0);
  opacity: 1;
}
.presentation__txt1,
.presentation__txt2,
.presentation__txt3 {
  color: #363636;
  font-size: calc(1.25rem + 0.3vw);
  font-weight: 400;
  letter-spacing: 1.2;
  line-height: calc(calc(2rem + 0.3vw) / calc(1.25rem + 0.3vw));
  z-index: 5;
  width: 600px;
  opacity: 0;
  transform: translate(-300px, 0%);
}
@media (max-width: 1399px) {
  .presentation__txt1,
  .presentation__txt2,
  .presentation__txt3 {
    width: 500px;
  }
}
@media (max-width: 1199px) {
  .presentation__txt1,
  .presentation__txt2,
  .presentation__txt3 {
    width: 400px;
    color: #363636;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1.2;
    line-height: calc(2rem / 1.25rem);
  }
}
@media (max-width: 991px) {
  .presentation__txt1,
  .presentation__txt2,
  .presentation__txt3 {
    width: 300px;
    color: #363636;
    font-size: 1.15rem;
    font-weight: 400;
    letter-spacing: 1.2;
    line-height: calc(1.85rem / 1.15rem);
  }
}
@media (max-width: 767px) {
  .presentation__txt1,
  .presentation__txt2,
  .presentation__txt3 {
    width: 300px;
    color: #363636;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.2;
    line-height: calc(1.15rem / 1rem);
  }
}
@media (max-width: 575px) {
  .presentation__txt1,
  .presentation__txt2,
  .presentation__txt3 {
    transform: translate(-100px, 0%);
    width: 220px;
  }
}
.presentation__box2 {
  margin-top: 0px;
}
@media (max-width: 575px) {
  .presentation__box2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
  }
}
.presentation__box3 {
  margin-top: 180px;
}
@media (max-width: 1199px) {
  .presentation__box3 {
    margin-top: 150px;
  }
}
@media (max-width: 991px) {
  .presentation__box3 {
    margin-top: 110px;
  }
}
@media (max-width: 767px) {
  .presentation__box3 {
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .presentation__box3 {
    margin-top: 20px;
  }
}
.presentation__fadingEffect1-img,
.presentation__fadingEffect2-img {
  width: 700px;
  height: 400px;
  content: "";
  background-size: cover;
  background-size: 700px 400px;
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - 350px);
  z-index: 1;
}
@media (max-width: 1399px) {
  .presentation__fadingEffect1-img,
  .presentation__fadingEffect2-img {
    width: 600px;
    height: 400px;
    background-size: 600px 400px;
    left: calc(50% - 300px);
  }
}
@media (max-width: 1199px) {
  .presentation__fadingEffect1-img,
  .presentation__fadingEffect2-img {
    width: 480px;
    height: 340px;
    background-size: 480px 340px;
    left: calc(50% - 240px);
  }
}
@media (max-width: 991px) {
  .presentation__fadingEffect1-img,
  .presentation__fadingEffect2-img {
    width: 380px;
    height: 320px;
    background-size: 380px 320px;
    left: calc(50% - 180px);
  }
}
@media (max-width: 767px) {
  .presentation__fadingEffect1-img,
  .presentation__fadingEffect2-img {
    width: 320px;
    height: 180px;
    background-size: 320px 180px;
    left: calc(50% - 160px);
  }
}
@media (max-width: 575px) {
  .presentation__fadingEffect1-img,
  .presentation__fadingEffect2-img {
    display: none;
  }
}
.presentation__fadingEffect1-img {
  background-image: url("img/doted1.svg");
  margin-top: -230px;
}
@media (max-width: 1199px) {
  .presentation__fadingEffect1-img {
    margin-top: -200px;
  }
}
@media (max-width: 767px) {
  .presentation__fadingEffect1-img {
    margin-top: -110px;
  }
}
.presentation__fadingEffect2-img {
  background-image: url("img/doted2.svg");
  margin-top: -150px;
}
@media (max-width: 767px) {
  .presentation__fadingEffect2-img {
    margin-top: -100px;
  }
}
.presentation__fadingEffect1,
.presentation__fadingEffect2 {
  width: 0;
  height: 400px;
  content: "";
  background-color: #ffffff;
  position: absolute;
  z-index: 3;
}
@media (max-width: 1199px) {
  .presentation__fadingEffect1,
  .presentation__fadingEffect2 {
    width: 0;
    height: 340px;
  }
}
@media (max-width: 991px) {
  .presentation__fadingEffect1,
  .presentation__fadingEffect2 {
    width: 0;
    height: 320px;
  }
}
@media (max-width: 767px) {
  .presentation__fadingEffect1,
  .presentation__fadingEffect2 {
    width: 0;
    height: 180px;
  }
}
@media (max-width: 575px) {
  .presentation__fadingEffect1,
  .presentation__fadingEffect2 {
    display: none;
  }
}
.presentation__fadingEffect1 {
  margin-top: -230px;
  right: 0;
}
@media (max-width: 1199px) {
  .presentation__fadingEffect1 {
    margin-top: -200px;
  }
}
@media (max-width: 767px) {
  .presentation__fadingEffect1 {
    margin-top: -110px;
  }
}
.presentation__fadingEffect2 {
  margin-top: -150px;
  left: 0;
}
@media (max-width: 767px) {
  .presentation__fadingEffect2 {
    margin-top: -100px;
  }
}
.presentation::before {
  width: 320px;
  height: 450px;
  margin-right: auto;
  content: "";
  background-image: url("img/Left-Leaves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: -170px;
  margin-top: -300px;
  transform: scale(0, 0);
  transition: all 0.6s ease 0.1s;
}
@media (max-width: 1800px) {
  .presentation::before {
    width: 290px;
    height: 410px;
  }
}
@media (max-width: 1399px) {
  .presentation::before {
    width: 270px;
    height: 360px;
    margin-top: -270px;
  }
}
@media (max-width: 991px) {
  .presentation::before {
    width: 240px;
    height: 310px;
    left: -150px;
    margin-top: -220px;
  }
}
@media (max-width: 767px) {
  .presentation::before {
    display: none;
  }
}
._active.presentation::before {
  transform: scale(1, 1);
}
.presentation::after {
  width: 240px;
  height: 470px;
  margin-right: auto;
  content: "";
  background-image: url("img/Group-274.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  margin-top: -300px;
  z-index: 4;
  transform: scale(0, 0);
  transition: all 0.6s ease 4s;
}
@media (max-width: 1800px) {
  .presentation::after {
    width: 200px;
    height: 410px;
  }
}
@media (max-width: 1399px) {
  .presentation::after {
    width: 160px;
    height: 300px;
    margin-top: -260px;
  }
}
@media (max-width: 1199px) {
  .presentation::after {
    width: 130px;
    height: 260px;
    margin-top: -150px;
  }
}
@media (max-width: 991px) {
  .presentation::after {
    width: 100px;
    height: 220px;
    margin-top: -120px;
  }
}
@media (max-width: 767px) {
  .presentation::after {
    display: none;
  }
}
._active.presentation::after {
  transform: scale(1, 1);
}
.presentation__fadingEffect1._active {
  -moz-animation: showHide 2s ease-in alternate 1 both;
  -webkit-animation: showHide 2s ease-in alternate 1 both;
  -ms-animation: showHide 2s ease-in alternate 1 both;
  -o-animation: showHide 2s ease-in alternate 1 both;
  animation: showHide 2s ease-in alternate 1 both;
}
.presentation__fadingEffect2._active {
  -moz-animation: showHide 2s ease-in 2s alternate 1 both;
  -webkit-animation: showHide 2s ease-in 2s alternate 1 both;
  -ms-animation: showHide 2s ease-in 2s alternate 1 both;
  -o-animation: showHide 2s ease-in 2s alternate 1 both;
  animation: showHide 2s ease-in 2s alternate 1 both;
}
@keyframes showHide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes showHide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-moz-keyframes showHide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-ms-keyframes showHide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-o-keyframes showHide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes showHide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.portfolio__title {
  text-align: center;
  margin-bottom: 100px;
  transform: translate(-280px, 0%);
  opacity: 0.2;
  transition: all 0.8s ease 0s;
}
@media (max-width: 1399px) {
  .portfolio__title {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .portfolio__title {
    margin-bottom: 40px;
  }
}
.portfolio__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.portfolio__wrap {
  display: grid;
  grid-template-columns: 750px 750px;
  grid-template-rows: 1000px 1000px auto;
  grid-template-areas: "example1 example2" "example3 example4" "btn-box btn-box";
  width: 1500px;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  .portfolio__wrap {
    grid-template-columns: 650px 650px;
    grid-template-rows: 900px 900px auto;
    width: 1300px;
  }
}
@media (max-width: 1399px) {
  .portfolio__wrap {
    grid-template-columns: 550px 550px;
    grid-template-rows: 800px 800px auto;
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  .portfolio__wrap {
    grid-template-columns: 450px 450px;
    grid-template-rows: 600px 600px auto;
    width: 900px;
  }
}
@media (max-width: 991px) {
  .portfolio__wrap {
    grid-template-columns: 350px 350px;
    grid-template-rows: 450px 450px auto;
    width: 700px;
  }
}
@media (max-width: 767px) {
  .portfolio__wrap {
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px auto;
    width: 90%;
  }
}
@media (max-width: 575px) {
  .portfolio__wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 400px) auto;
    grid-template-areas: "example1" "example3" "example2" "example4" "btn-box";
    width: 100%;
  }
}
.portfolio__example1 {
  grid-area: example1;
  padding: 100px 50px 0 0;
}
@media (max-width: 1399px) {
  .portfolio__example1 {
    padding: 100px 35px 0 0;
  }
}
@media (max-width: 1199px) {
  .portfolio__example1 {
    padding: 80px 35px 0 0;
  }
}
@media (max-width: 767px) {
  .portfolio__example1 {
    padding: 60px 25px 0 0;
  }
}
.portfolio__example2 {
  grid-area: example2;
  padding: 0 0 100px 50px;
}
@media (max-width: 1399px) {
  .portfolio__example2 {
    padding: 0 0 100px 35px;
  }
}
@media (max-width: 1199px) {
  .portfolio__example2 {
    padding: 0 0 80px 35px;
  }
}
@media (max-width: 767px) {
  .portfolio__example2 {
    padding: 0 0 60px 25px;
  }
}
.portfolio__example3 {
  grid-area: example3;
  padding: 100px 50px 0 0;
}
@media (max-width: 1399px) {
  .portfolio__example3 {
    padding: 100px 35px 0 0;
  }
}
@media (max-width: 1199px) {
  .portfolio__example3 {
    padding: 80px 35px 0 0;
  }
}
@media (max-width: 767px) {
  .portfolio__example3 {
    padding: 60px 25px 0 0;
  }
}
.portfolio__example4 {
  grid-area: example4;
  padding: 0 0 100px 50px;
}
@media (max-width: 1399px) {
  .portfolio__example4 {
    padding: 0 0 100px 35px;
  }
}
@media (max-width: 1199px) {
  .portfolio__example4 {
    padding: 0 0 80px 35px;
  }
}
@media (max-width: 767px) {
  .portfolio__example4 {
    padding: 0 0 60px 25px;
  }
}
.portfolio__example1,
.portfolio__example2,
.portfolio__example3,
.portfolio__example4 {
  width: 750px;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
}
@media (max-width: 1800px) {
  .portfolio__example1,
  .portfolio__example2,
  .portfolio__example3,
  .portfolio__example4 {
    width: 650px;
  }
}
@media (max-width: 1399px) {
  .portfolio__example1,
  .portfolio__example2,
  .portfolio__example3,
  .portfolio__example4 {
    width: 550px;
  }
}
@media (max-width: 1199px) {
  .portfolio__example1,
  .portfolio__example2,
  .portfolio__example3,
  .portfolio__example4 {
    width: 450px;
  }
}
@media (max-width: 991px) {
  .portfolio__example1,
  .portfolio__example2,
  .portfolio__example3,
  .portfolio__example4 {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .portfolio__example1,
  .portfolio__example2,
  .portfolio__example3,
  .portfolio__example4 {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .portfolio__example1,
  .portfolio__example2,
  .portfolio__example3,
  .portfolio__example4 {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 0 30px 0;
  }
}
.portfolio__example_img1,
.portfolio__example_img2,
.portfolio__example_img3,
.portfolio__example_img4 {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 1s;
  z-index: 2;
}
.portfolio__example_img1 {
  background-image: url("img/0e72dccf58a2ac04d67535cf277d682a.jpeg");
}
.portfolio__example_img2 {
  background-image: url("img/effa10adf546262a3c52247f845bf03f.jpeg");
}
.portfolio__example_img3 {
  background-image: url("img/53d285312bb040d29dc12fd0fcd13177.jpeg");
}
.portfolio__example_img4 {
  background-image: url("img/dafdd64e2a43a56ec13158a23b8e540a.jpeg");
}
.portfolio__example1:hover .portfolio__example_img1 {
  cursor: pointer;
  transform: scale(1.1);
}
.portfolio__example2:hover .portfolio__example_img2 {
  cursor: pointer;
  transform: scale(1.1);
}
.portfolio__example3:hover .portfolio__example_img3 {
  cursor: pointer;
  transform: scale(1.1);
}
.portfolio__example4:hover .portfolio__example_img4 {
  transform: scale(1.1);
  cursor: pointer;
}
.portfolio__btn_block {
  margin-top: 100px;
  grid-area: btn-box;
}
@media (max-width: 1199px) {
  .portfolio__btn_block {
    margin-top: 60px;
  }
}
@media (max-width: 1199px) {
  .portfolio__btn_block {
    margin-top: 40px;
  }
}
@media (max-width: 575px) {
  .portfolio__btn_block {
    margin-top: 0px;
  }
}
.portfolio__btn {
  display: block;
  margin: 0 auto;
  transform: translate(-280px, 0%);
  opacity: 0.2;
  transition: all 0.8s ease 0s;
}
.portfolio__btn._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.portfolio__example1._active {
  animation: showBox 0.8s ease 0s normal 1 both;
}
@media (max-width: 575px) {
  .portfolio__example1._active {
    animation: showBox 0.5s ease 0s normal 1 both;
  }
}
.portfolio__example2._active {
  animation: showBox 0.8s ease 0.1s normal 1 both;
}
@media (max-width: 575px) {
  .portfolio__example2._active {
    animation: showBox 0.5s ease 0s normal 1 both;
  }
}
.portfolio__example3._active {
  animation: showBox 0.8s ease 0.3s normal 1 both;
}
@media (max-width: 575px) {
  .portfolio__example3._active {
    animation: showBox 0.5s ease 0s normal 1 both;
  }
}
.portfolio__example4._active {
  animation: showBox 0.8s ease 0.4s normal 1 both;
}
@media (max-width: 575px) {
  .portfolio__example4._active {
    animation: showBox 0.5s ease 0s normal 1 both;
  }
}
@keyframes showBox {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  50% {
    margin-top: 10px;
    opacity: 0.4;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
.startProject {
  width: 100%;
  height: calc(700px + 25vw);
}
@media (max-width: 1399px) {
  .startProject {
    width: 100%;
    height: calc(500px + 25vw);
  }
}
@media (max-width: 1199px) {
  .startProject {
    width: 100%;
    height: calc(320px + 25vw);
  }
}
@media (max-width: 991px) {
  .startProject {
    width: 100%;
    height: calc(370px + 25vw);
  }
}
@media (max-width: 767px) {
  .startProject {
    width: 100%;
    height: 430px;
  }
}
@media (max-width: 575px) {
  .startProject {
    width: 100%;
    height: 430px;
  }
}
.startProject__content_box {
  padding: 500px 0 0 200px;
}
@media (max-width: 1800px) {
  .startProject__content_box {
    padding: 500px 0 0 80px;
  }
}
@media (max-width: 1399px) {
  .startProject__content_box {
    padding: 300px 0 0 0px;
  }
}
@media (max-width: 1199px) {
  .startProject__content_box {
    padding: 170px 0 0 0px;
  }
}
@media (max-width: 767px) {
  .startProject__content_box {
    padding: 70px 0 0 0px;
  }
}
@media (max-width: 575px) {
  .startProject__content_box {
    padding: 50px 0 0 0px;
  }
}
.startProject__title {
  padding: 0px 0 72px 0;
  width: 450px;
  transform: translate(-300px, 0%);
  opacity: 0;
  transition: all 0.6s ease 0.7s;
}
@media (max-width: 1199px) {
  .startProject__title {
    width: 400px;
    padding: 0px 0 50px 0;
  }
}
@media (max-width: 991px) {
  .startProject__title {
    width: 330px;
  }
}
@media (max-width: 575px) {
  .startProject__title {
    width: 280px;
    padding: 0px 0 24px 0;
  }
}
.startProject__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.startProject__btn {
  margin: 0 0 72px 0;
  opacity: 0;
  transform: translate(-300px, 0%);
  transition: all 0.6s ease 0.9s;
}
@media (max-width: 1199px) {
  .startProject__btn {
    margin: 0px 0 50px 0;
    transform: translate(-100px, 0%);
  }
}
@media (max-width: 575px) {
  .startProject__btn {
    margin: 0px 0 24px 0;
  }
}
.startProject__btn._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.startProject__links {
  transform: translate(-300px, 0%);
  opacity: 0;
  transition: all 0.6s ease 1.1s;
}
.startProject__links._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.startProject::after {
  width: 70%;
  height: calc(700px + 40vw);
  content: "";
  background-image: url("img/Contact-Illustr.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 300px;
  background-position-y: -20px;
  background-size: cover;
  position: absolute;
  right: 0;
  margin-top: calc(-300px + -40vw);
  z-index: 1;
  transform: scale(0, 0);
  transform-origin: top right;
  transition: all 0.6s ease 0s;
}
@media (max-width: 1800px) {
  .startProject::after {
    width: 60%;
    height: calc(700px + 40vw);
    margin-top: calc(-500px + -40vw);
    background-position-x: 100px;
  }
}
@media (max-width: 1399px) {
  .startProject::after {
    width: 60%;
    height: calc(400px + 40vw);
    margin-top: calc(-230px + -40vw);
  }
}
@media (max-width: 1199px) {
  .startProject::after {
    width: 60%;
    height: calc(380px + 40vw);
    background-position-x: 50px;
  }
}
@media (max-width: 767px) {
  .startProject::after {
    width: 400px;
    height: 500px;
    background-position-x: 100px;
    margin-top: -400px;
  }
}
@media (max-width: 575px) {
  .startProject::after {
    width: 300px;
    height: calc(300px + 10vw);
    background-position-x: 40px;
    margin-top: calc(-110px + -5vw);
  }
}
._active.startProject::after {
  transform: scale(1, 1);
}
.startProject::before {
  width: 320px;
  height: 450px;
  margin-right: auto;
  content: "";
  background-image: url("img/Left-Leaves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: -170px;
  margin-top: 700px;
  transform: scale(0, 0);
  transition: all 0.6s ease 1.7s;
}
@media (max-width: 1800px) {
  .startProject::before {
    width: 290px;
    height: 410px;
  }
}
@media (max-width: 1399px) {
  .startProject::before {
    width: 270px;
    height: 360px;
    margin-top: 500px;
  }
}
@media (max-width: 1199px) {
  .startProject::before {
    margin-top: 300px;
  }
}
@media (max-width: 991px) {
  .startProject::before {
    width: 220px;
    height: 310px;
    left: -150px;
    margin-top: 250px;
  }
}
@media (max-width: 767px) {
  .startProject::before {
    display: none;
  }
}
._active.startProject::before {
  transform: scale(1, 1);
}
.footer {
  width: 100%;
  background-color: rgba(199, 217, 205, 0.96);
  z-index: 1;
}
.footer__wrap {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "logo links" "media links";
}
@media (max-width: 767px) {
  .footer__wrap {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo" "links" "media";
  }
}
.footer__logo {
  grid-area: logo;
  margin: 0 0 50px 0;
}
@media (max-width: 767px) {
  .footer__logo {
    margin: 0 0 20px 0;
  }
}
.footer__sotial-media {
  grid-area: media;
}
.footer__links {
  grid-area: links;
  margin: 20px 0 0 0;
}
@media (max-width: 767px) {
  .footer__links {
    margin: 0 0 20px 0;
  }
}
.footer__nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer__nav-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }
}
.footer__nav-item {
  margin: 0 40px 0 0;
  font-size: 22px;
  color: #363636;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 1;
  line-height: calc(40px / 1.125rem);
  line-height: 40px;
}
@media (max-width: 991px) {
  .footer__nav-item {
    margin: 0 20px 0 0;
  }
}
.footer__nav-item:hover {
  cursor: pointer;
  background-color: #3f3d56;
  border-radius: 15px;
  height: 40px;
  line-height: 40px;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1;
  line-height: calc(20px / 16px);
  box-sizing: border-box;
  border: none;
  padding: 0 13px;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  flex-shrink: 0;
}
footer {
  flex-shrink: 0;
}
main {
  flex: 1 0 auto;
}
