//main: ../../style.less

.header {
  .add-size(100%, calc(500px + 30vw));

  @media @size-xxl {
    .add-size(100%, calc(600px + 20vw));
  }
  @media @size-xl {
    .add-size(100%, calc(550px + 15vw));
  }

  @media @size-l {
    .add-size(100%, calc(500px + 15vw));
  }
  @media @size-md {
    .add-size(100%, calc(450px + 15vw));
  }
  @media @size-xs {
    .add-size(100%, calc(450px + 15vw));
    margin-bottom: 20px;
  }

  &__content-box {
    .add-size(400px, auto);
    margin: 300px 0 40px 0;

    @media @size-xxl {
      margin: 200px 0 40px 0;
    }

    @media @size-l {
      .add-size(350px, auto);
      margin: 100px 0 40px 0;
    }

    @media @size-md {
      .add-size(300px, auto);
      margin: 60px 0 40px 0;
    }

    @media @size-s {
      .add-size(230px, auto);
      margin: 30px 0 40px 0;
    }

    @media @size-xs {
      .add-size(90%, auto);
    }
  }

  &__title {
    margin: 0 0 60px 0;
    z-index: 6;
    transform: translate(-280px, 0%);
    opacity: 0;
    transition: all 0.6s ease 0.7s;

    @media @size-xxl {
      margin: 0 0 50px 0;
    }

    @media @size-s {
      margin: 0 0 30px 0;
    }
  }

  &__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__txt {
    margin: 0 0 60px 0;
    z-index: 6;
    transform: translate(-280px, 0%);
    opacity: 0;
    transition: all 0.6s ease 0.9s;
    .font-modify(@black, calc(1.125rem + 0.3vw), 400, 1, calc(1.5rem + 0.3vw));

    @media @size-xxl {
      margin: 0 0 50px 0;
    }

    @media @size-s {
      margin: 0 0 30px 0;
    }
  }
  
  &__txt._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__btn {
    margin: 0 0 90px 0;
    transform: translate(-100px, 0%);
    transition: all 0.6s ease 1.4s;
    opacity: 0;

    @media @size-xxl {
      margin: 0 0 70px 0;
    }

    @media @size-md {
      margin: 0 0 40px 0;
    }

    @media @size-s {
      margin: 0 0 30px 0;
    }
  }

  &__btn._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__links {
    transform: translate(-300px, 0%);
    transition: all 0.6s ease 1.6s;
    opacity: 0;

    @media @size-s {
      transform: translate(-100px, 0%);
    }
  }

  &__links._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &::after {
    .add-size(70%, calc(500px + 30vw));
    content: "";
    background-image: url("../img/header.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 200px;
    background-position-y: -400px;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    transform: scale(0, 0);
    transform-origin: top right;
    transition: all 0.6s ease 0s;

    @media @size-xxl {
      .add-size(70%, calc(600px + 20vw));
      background-position-x: 150px;
      background-position-y: -300px;
    }

    @media @size-xl {
      .add-size(70%, calc(600px + 15vw));
      background-position-x: 100px;
      background-position-y: -200px;
    }

    @media @size-l {
      .add-size(60%, calc(600px + 15vw));
      background-position-x: 100px;
      background-position-y: -200px;
    }
    @media @size-md {
      .add-size(60%, calc(450px + 20vw));
      background-position-x: 80px;
      background-position-y: -110px;
    }
    @media @size-s {
      .add-size(70%, calc(500px + 15vw));
      background-position-x: 60px;
      background-position-y: -70px;
    }
    @media @size-xs {
      top: 260px;
      .add-size( calc(240px + 5vw),  calc(240px + 5vw));
      background-position-x: 40px;
      background-position-y: -0px;
    }
  }
  &._active::after {
    transform: scale(1, 1);
  }
}
